@import url("https://fonts.googleapis.com/css2?family=Italianno&display=swap");
body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: #333;
  background: #fdfdfd;
  line-height: 1.6;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #b22222;
  color: #fff;
  font-size: 1.2em;
}

.logo h1 {
  font-family: "Italianno", serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}

.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  width: 30px;
}

.hamburger span {
  height: 3px;
  width: 100%;
  background: #fff;
  margin: 5px 0;
  border-radius: 5px;
}

.hero-section {
  background-image: url('../images/italian.jpg');
  background-size: cover;
  background-position: center;
  padding: 100px 20px;
  text-align: center;
  color: #fff;
}

.hero-text {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 20px;
  filter: drop-shadow(0 5px 5px rgba(99, 27, 27, 0.7));
}

.hero-text h2 {
  font-size: 64px;
}

.hero-text p {
  margin-top: -60px;
}

section {
  padding: 60px 20px;
  text-align: center;
}

.menu-selection {
  display: flex;
  justify-content: center;
  width: 100%;
}

.menu-items {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 960px;
}

.menu-item {
  flex: 0 0 calc(40%);
  padding: 10px;
  margin: 10px;
  text-align: center;
}

.styled-image {
  min-width: 350px;
  align-items: center;
  width: 100%;
  height: auto;
  border-radius: 15px;
  filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.3));
}

footer {
  background-color: rgb(7, 79, 7);
  color: #fff;
  text-align: center;
  padding: 15px 0;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

@media (max-width: 768px) {
  .nav-links {
    position: absolute;
    top: 60px;
    right: 0;
    background-color: rgb(7, 79, 7);
    flex-direction: column;
    width: 200px;
    display: none;
    padding: 20px;
    z-index: 2;
  }
  .nav-links li:hover a {
    color: rgb(255, 255, 103);
  }

  .menu-checkbox:checked ~ .nav-links {
    display: flex;
  }

  .nav-links li {
    margin: 15px 0;
    text-align: center;
  }

  .hamburger {
    display: flex;
  }

  .hero-section {
    padding: 80px 10px;
  }
}
